
Calculator/.vs/Calculator/v15/.suo
*.lock
*.ide
CalculatorWindows/.vs/CalculatorWindows/v15/.suo
CalculatorWindows/Form1.Designer.cs
Day2 (switch)/Day2 (switch)/.vs/Day2 (switch)/v15/.suo
Day3 (for)/ClassLibrary1/.vs/ClassLibrary1/v15/.suo
*.ide-shm
*.ide-wal
